<h1>Stop!</h1>
<p>We've already generated playlists on your behalf.</p>
<p>If you want to regenerate, click the button to delete your old version of the playlists first.</p>
<%= button_to "Go Back", @current_user, method: 'get'%>
